# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# Rider の無視対象ファイル
/modules.xml
/contentModel.xml
/.idea.buyma-auto-input.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
